
// ================================
//        Typography settings
//=================================

@mixin font-family($font-family,$line-height,$font-size, $color){
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

//Mixin nuevos para maquillajes de especiales modulares
//Funciona para la carga de imagenes o background de color define la ruta de la imagen, el alto que tenga requiera la imagen y un fondo plano
$path--rel: "../images";
@mixin image($img, $height) {
    background-image: url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    height: $height;
    min-height: auto;
    max-height: initial;
    background-position: center;
    @if $img == noimagen {
    background-image: none;
  }
}

$src:"../fonts";
@mixin fontFace($family,$ruta,$weight: normal,$style: normal) {
  @font-face {
  font-family: $family;
  src: url('#{$src}/#{$ruta}.woff') format('woff'), // standards
  url('#{$src}/#{$ruta}.ttf') format('truetype'); // Safari, Android, iOS
  //url('#{$src}/#{$ruta}.svg##{$family}') format('svg'); // legacy iOS
  font-style: $style;
  font-weight: $weight;
  }
}
